parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false
	bootstrapFiles:
		- config/paths.php
		- vendor/cakephp/cakephp/src/functions.php
	paths:
		- src/
		- tests/
