/** Keep the logo in check **/
.navbar.qr-navbar-top img.logo-top {
    max-width: 200px;
}
footer img.logo-bottom {
    max-width: 150px;

}

.avatar[class*="-xl"] {
    width: 7rem;
    height: 7rem;
}
.avatar[class*="-xxl"] {
    width: 9rem;
    height: 9rem;
}

.fs-80 {
    font-size: 80%;
}

/** Hover for main page **/
.card .background-overlay:has(+ .card-content:hover)::after {
    background: transparent !important;
    transition: background-color 1s ease-out;
}

/**
 * ribbons
 */

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 93px;
    height: 93px;
    text-align: right;
}
.ribbon span {
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    transform: rotate(45deg);
    width: 125px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#9bc90d 0%, #79a70a 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 17px; /** change this, if no border **/
    right: -29px; /** change this, if no border **/
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%; top: 100%;
    z-index: -1;
    border-right: 3px solid #79A70A;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon.red span {
    background: linear-gradient(#f70505 0%, #8f0808 100%);
}
.ribbon.red span::before {
    border-left-color: #8f0808;
    border-top-color: #8f0808;
}
.ribbon.red span::after {
    border-right-color: #8f0808;
    border-top-color: #8f0808;
}

.ribbon.blue span {
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
}
.ribbon.blue span::before {
    border-left-color: #1e5799;
    border-top-color: #1e5799;
}
.ribbon.blue span::after {
    border-right-color: #1e5799;
    border-top-color: #1e5799;
}

.ribbon.yellow span {
    background: linear-gradient(#c4d829 0%, #76991e 100%);
}
.ribbon.yellow span::before {
    border-left-color: #59991e;
    border-top-color: #59991e;
}
.ribbon.yellow span::after {
    border-right-color: #74991e;
    border-top-color: #74991e;
}

/** Lowercase inputs **/
form input[type="text"].lowercase {
    text-transform: lowercase;
}

/** The multiple file upload **/


/*----------multiple-file-upload-----------*/
.input-group.file-caption-main{
    display: none;
}
.close.fileinput-remove{
    display: none;
}
.file-drop-zone{
    margin: 0px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 0px;
    display: contents;
}
.file-drop-zone.clickable:hover{
    border-color: #fff;
}
.file-drop-zone .file-preview-thumbnails{
    display: inline;
}
.file-drop-zone-title{
    padding: 15px;
    height: 120px;
    width: 120px;
    font-size: 12px;
}
.file-input-ajax-new{
    display: inline-block;
}
.file-input.theme-fas{
    display: inline-block;
    width: 100%;
}
.file-preview{
    padding: 0px;
    border: none;
    display: inline;

}
.file-drop-zone-title{
    display: none;
}
.file-footer-caption{
    display: none !important;
}
.kv-file-upload{
    display: none;
}
.file-upload-indicator{
    display: none;
}
.file-drag-handle.drag-handle-init.text-info{
    display: none;
}
.krajee-default.file-preview-frame .kv-file-content{
    max-width: 150px;
    max-height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
}
.krajee-default.file-preview-frame{
    background-color: #eee;
    margin: 3px;
    border-radius: 15px;
    overflow: hidden;
}
.krajee-default.file-preview-frame:not(.file-preview-error):hover{
    box-shadow: none;
    border-color: #ed3237;
}
.krajee-default.file-preview-frame:not(.file-preview-error):hover .file-preview-image{
    transform: scale(1.1);
}
.krajee-default.file-preview-frame{
    box-shadow: none;
    border-color: #fff;
    max-width: 200px;
    margin: 5px;
    padding: 0px;
    transition: 0.5s;
}
.file-thumbnail-footer,
.file-actions{
    width: 20px;
    height: 20px !important;
    position: absolute !important;
    top: 3px;
    right: 3px;
}
.kv-file-remove:focus,
.kv-file-remove:active{
    outline: none !important;
    box-shadow: none !important;
}
.kv-file-remove{
    border-radius: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
    background-color: #ed3237;
    border: 1px solid #ed3237;
    padding: 3px 6px;
    font-size: 13px;
    transition: 0.5s;
}
.kv-file-remove:hover{
    border-color: #fdeff0;
    background-color: #fdeff0;
    color: #ed1924;
}
.kv-file-rotate {
    display: none !important;
}
.kv-preview-data.file-preview-video{
    width: 100% !important;
    height: 100% !important;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus{
    box-shadow: none;
}
.btn-toggleheader,
.btn-fullscreen,
.btn-borderless{
    display: none;
}
.btn-kv.btn-close{
    color: #fff;
    border: none;
    background-color: #ed3237;
    font-size: 11px;
    width: 18px;
    height: 18px;
    text-align: center;
    padding: 0px;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus{
    background-color: rgba(255,255,255,0.8);
    color: #000;
    box-shadow: none;
    color: #ed3237;
}
.kv-file-content .file-preview-image{
    /*
    width: 150px !important;
    height: 150px !important;
    */
    max-width: 150px !important;
    max-height: 150px !important;
    transition: 0.5s;
}
.btn-danger.btn-file{
    padding: 0px;
    height: 95px;
    width: 95px;
    display: inline-block;
    margin: 5px;
    border-color: #fdeff0;
    background-color: #fdeff0;
    color: #ed1924;
    border-radius: 15px;
    padding-top: 30px;
    transition: 0.5s;
}
.btn-danger.btn-file:active,
.btn-danger.btn-file:hover{
    background-color: #fde3e5;
    color: #ed1924;
    border-color: #fdeff0;
    box-shadow: none;
}
.btn-danger.btn-file i{
    font-size: 30px;
}


@media (max-width: 350px){
    .krajee-default.file-preview-frame:not([data-template=audio]) .kv-file-content{
        width: 90px;
    }
}
