.navbar.qr-navbar-top img.logo-top {
    max-width: 200px;
}
footer img.logo-bottom {
    max-width: 150px;

}

/* Product listing page */
.products .product .product-title {
    font-size: 130%;
}

.product .product-image .product-qrimage {
    overflow: auto;
    max-height: 400px;
  }
